.card-img {
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 21%;
    padding-left: 10px;
    padding-bottom: 25px;
}
.card-img img{
    padding: 10px;
    width: 100px;
    height: 100px;
}
a {
    text-decoration: none;
    color: white;
}

