.dataCtn{
    display: flex;
    flex-direction: column;
}
.main-detail-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.civImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}
.civName{
    padding: 25px;
}
.civDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.civDetails li {
    text-align: left;
}
.civDetails h2{
    padding: 5px;
}
.civImage img{
    width: 100px;
    height: 100px;
}
.list-ctn{
    width: 300px;
    align-self: center;
}
.civBonus p{
    text-align: left;
}
