.search{
  padding-top: 10px;
}
.searchInputs {
  margin-top: 105px;
  display: flex;
}
.card-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 25px;
}
.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}
@media screen and (min-width: 1366px) and (max-width: 1366px){
  .card-ctn{
      padding-left: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px){
  .card-ctn{
      padding-left: 25px;
  }
}
@media screen and (max-width: 375px){
  .card-ctn{
      padding-left: 25px;
  }
}

@media screen and (max-width: 320px){
  .card-ctn{
    padding-left: 0px;
}
}