* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #E0C9A6;
}
.App {
  text-align: center;
  background: #E0C9A6;
}

.card-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}
.header {
  padding: 10px
}
.search-ctn{
  padding: 10px;
}